@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
  background-image: url(./img/1.1.png);
  max-width: 1140px;
  margin: 0 auto;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.kran_all{
  display: flex;
  align-items: center;
  justify-content: center;
padding-top: 15px;
}
.kran_title{
  color: #e5e7eb;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
  opacity: 0.8;
}
.kran_title{
  transform: translateX(-1600%);
  transition: transform 2s ease, opacity 1s ease;
  position: relative;
}
.kran_text{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
  width: 100%;
  text-align: justify;
  font-family: var(--font-family);
  font-weight: 1000;
  font-size: 15px;
  line-height: 200%;
  color: #e5e7eb;

  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
  opacity: 0.8;
}
.kran_img1{
  max-width: 260px;
  padding-left: 15px;
  border-radius: 9%;
}
.kran_img{
  transform: translateX(1600%);
  transition: transform 2s ease, opacity 1s ease;
  position: relative;
}
.kran_str{
 padding: 15px;
}
.kran_esses{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}
.info_title{
  color: #e5e7eb;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
  opacity: 0.8;
  padding: 25px 20px 15px 15px;
}
.info_title1{
  color: #e5e7eb;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
  opacity: 0.8;
  padding: 25px 20px 15px 15px;
  max-width: 100px;
}
.call{
  padding: 25px;
}
.info_card{
  max-width: 600px;
  /* width: 100%; */
  min-height: 335px;
  background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
  box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
  transition: all 1s ease-in-out;
margin: 10px auto;
}
.info_img1{
  max-width: 215px;
  padding: 10px ;
  border-radius: 9%;
}
.kran_infos{
  display: flex;
}
.call{
  max-width: 100px;
}
.insta{
  max-width: 26px;
}
.web{
  display: flex;
}
.teg_img{
  max-width: 33px;
}
.tik_img{
  max-width: 33px;
}
.you_img{
  max-width: 75px;
}
.intro_link4{
  max-width: 10px;
}

